.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 50px;
}

.document {
}

.highlight {
    background-color: yellow;
    color: black !important;
}
